/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/*
!/storage/app/ai-context/
!/storage/app/ai-context/doctor_instructions.json
!/storage/app/ai-context/food_analysis_instructions.json
!/storage/app/ai-context/mental_health_instructions.json
!/storage/app/ai-context/patient_instructions.json
!/storage/app/ai-context/pharmacy_instructions.json
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
